@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clip-path-slant-up-left {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 98%);
    }
  }

  @layer utilities {
    .profile-pic-dimension {
      height: 379px;
      width:289px
    }
  }
  @layer utilities {
    .h-516 {
      height: 516px;
    }
  }
  @layer utilities {
    .w-1156 {
      width: 1156px;
    }
  }

  @layer utilities {
    .bg-dimension {
      background-size:516px;
  }


} 
@layer utilities {
  .text-big {
    font-size: 60px;
}
}
@layer utilities {
  .text-mid {
    font-size: 24px;
}
}
@layer utilities {
  .expertise-card-dimension {
    height: 230px;
    width:340px
  }
}

@layer utilities {
  .pfitem-card-dimension {
    height: 290px;
    width:  360px
  }
}

@layer utilities {
  .pfitem-inner-card-dimension {
    height: 260px;
    width:  330px
  }
}

@layer utilities {
  .border-bottom{
    border-bottom-width: 1px;
  }
}
/* @variants group-hover {
  .hover {
   transform: scale(.75);
   outline: 5px solid #f6f6f6 ;
   outline-offset: 12px;
}
} */