
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clip-path-slant-up-left {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 98%);
    }
  }

  @layer utilities {
    .profile-pic-dimension {
      height: 379px;
      width:289px
    }
  }
  @layer utilities {
    .h-516 {
      height: 516px;
    }
  }
  @layer utilities {
    .w-1156 {
      width: 1156px;
    }
  }

  @layer utilities {
    .bg-dimension {
      background-size:516px;
  }


} 
@layer utilities {
  .text-big {
    font-size: 60px;
}
}
@layer utilities {
  .text-mid {
    font-size: 24px;
}
}
@layer utilities {
  .expertise-card-dimension {
    height: 230px;
    width:340px
  }
}

@layer utilities {
  .pfitem-card-dimension {
    height: 290px;
    width:  340px
  }
}

@layer utilities {
  .pfitem-inner-card-dimension {
    height: 260px;
    width:  310px
  }
}

@layer utilities {
  .border-bottom{
    border-bottom-width: 1px;
  }
}
/* @variants group-hover {
  .hover {
   transform: scale(.75);
   outline: 5px solid #f6f6f6 ;
   outline-offset: 12px;
}
} */
@layer utilities {
  .w-own{
   width: 22.91%;
  }
}
@layer utilities {
  .acievement-card-dimension {
    height: 122px;
    width:  235px
  }
}


@layer utilities {
  .hero-image-dimension {
    height: 620px;
  
  }
}

@layer utilities {
  .why-us-div-dimension {
    width:  476px;
  }
}

@layer utilities {
  .get-price-button-dimension {
    width:  380px;
    height: 52px;
  }
}
@layer utilities {
  .testimonial-dimension {
    width:  832px;
    height: 100%;
  }
}

@layer utilities {
  .testimonial-div-dimension {
    height: 480px;
  }
}

@layer utilities {
  .why-us-dimension {
    height: 620px;
  
  }
}